*{

    margin:0;
    
    padding:0;
    
    box-sizing:border-box;
    
    font-family:Arial;
    
    }
    
    body{
    
    background:
    
    linear-gradient(
    
    135deg,
    
    #0f8b5f,
    
    #2bb673
    
    );
    
    height:100vh;
    
    display:flex;
    
    justify-content:center;
    
    align-items:center;
    
    }
    
    .container{
    
    width:420px;
    
    background:white;
    
    border-radius:15px;
    
    overflow:hidden;
    
    box-shadow:
    
    0 0 20px rgba(0,0,0,.2);
    
    }
    
    .header{
    
    background:
    
    #0d7a54;
    
    padding:25px;
    
    text-align:center;
    
    color:white;
    
    }
    
    .header h1{
    
    font-size:30px;
    
    }
    
    .header p{
    
    margin-top:8px;
    
    font-size:14px;
    
    }
    
    .orange-line{
    
    height:6px;
    
    background:#f39c12;
    
    }
    
    .form-box{
    
    padding:30px;
    
    }
    
    input,
    select{
    
    width:100%;
    
    padding:13px;
    
    margin-top:12px;
    
    border:
    
    1px solid #ccc;
    
    border-radius:8px;
    
    }
    
    button{
    
    width:100%;
    
    padding:13px;
    
    margin-top:20px;
    
    background:
    
    #0d7a54;
    
    border:none;
    
    color:white;
    
    font-size:16px;
    
    border-radius:8px;
    
    cursor:pointer;
    
    }
    
    button:hover{
    
    background:
    
    #13a06f;
    
    }
    
    .link{
    
    margin-top:20px;
    
    text-align:center;
    
    }
    
    .link a{
    
    color:
    
    #0d7a54;
    
    font-weight:bold;
    
    text-decoration:none;
    
    }
    
    .logo{
    
    font-size:45px;
    
    margin-bottom:10px;
    
    }